In [4]:
import pandas
import tabula

In [49]:
pdf_path = "/Users/thachha/Desktop/AIO2025-official/module 1/Readling docs/M01W03-ThucHanhTrichXuatBangTrongPDFvsTabularPyAndPandas.pdf"

df = tabula.read_pdf(pdf_path, pages = "3", lattice = True)

print(len(df))
print(type(df))

2
<class 'list'>

In [50]:
df[1]

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0    Toán  20/12/2024       08:00      101A
1     NaN  21/12/2024       09:00      102B
2      Lý  22/12/2024       08:00      101A
3     NaN         NaN       10:00      102B
4     Hóa  23/12/2024       08:00      101A
5   10:00        102B         NaN       NaN

In [51]:
pdf_path = "/Users/thachha/Desktop/AIO2025-official/module 1/Readling docs/M01W03-ThucHanhTrichXuatBangTrongPDFvsTabularPyAndPandas.pdf"

df = tabula.read_pdf(pdf_path, pages = "3", stream = True)

print(len(df))
print(type(df))

2
<class 'list'>

In [58]:
type(df[0])
df= df[0]

Đối với bảng không có đường kẻ grid, dùng stream = True tabula-py sẽ phân tích trang PDF dựa trên
cấu trúc các hàng và khoảng trống giữa chúng để xác định ranh giới.

Đối với bảng có cấu trúc phức tạp do merge cột hoặc hàng, dùng pandas để xử lý lại sau khi thử stream = True and lattice = True để thử xem kết quả nào tốt hơn

In [61]:
# Fill NaN using the previous row 

df['Môn học'].fillna(method = 'ffill', inplace = True)
df['Ngày thi'].fillna(method = 'ffill', inplace = True)
df['Giờ bắt đầu'].fillna(method = 'ffill', inplace = True)
df['Phòng thi'].fillna(method = 'ffill', inplace = True)
df

/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Môn học'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ngày thi'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Ngày thi'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Giờ bắt đầu'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Giờ bắt đầu'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Phòng thi'].fillna(method = 'ffill', inplace = True)
/var/folders/84/b9vl_qzn7f5cswh17vzq1lvr0000gn/T/ipykernel_6985/1868735432.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Phòng thi'].fillna(method = 'ffill', inplace = True)

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
0     NaN  20/12/2024       08:00      101A
1    Toán  20/12/2024       08:00      101A
2    Toán  21/12/2024       09:00      102B
3    Toán  21/12/2024       08:00      101A
4      Lý  22/12/2024       08:00      101A
5      Lý  22/12/2024       10:00      102B
6      Lý  22/12/2024       08:00      101A
7     Hóa  23/12/2024       08:00      101A
8     Hóa  23/12/2024       10:00      102B

In [63]:
df_cleaned = df.drop([0,3,6])
df_cleaned

  Môn học    Ngày thi Giờ bắt đầu Phòng thi
1    Toán  20/12/2024       08:00      101A
2    Toán  21/12/2024       09:00      102B
4      Lý  22/12/2024       08:00      101A
5      Lý  22/12/2024       10:00      102B
7     Hóa  23/12/2024       08:00      101A
8     Hóa  23/12/2024       10:00      102B

In the case we cannot reach complex tables in documents especially in research paper, we can figure out the location of table using Pdf readers app to determine 4 values of locations [top, left, bottom, width] then read_pdff with area = loc.